{% extends "game_base.html" %}

{% block title %}
    <title>Shop</title>
{% endblock %}


{% block content %}
<div class="top-bar">
    <div>Gems: {{data.gems}}</div>
    <div>Coins: {{data.coins}}</data></div>
  </div>

  <div class="menu">
    <button onclick="location.href='/mainGame/{{id}}'" >Go to Home</button>
    <button onclick="location.href='/mainGame/{{id}}/gacha'" >Go to Gacha</button>
    <button onclick="location.href='/mainGame/{{id}}/shop'" style="background: #4f5d92;">Go to Shop</button>
    <button onclick="location.href='/mainGame/{{id}}/inventory'">Go to Inventory</button>
  </div>

<!-- inside body for Shop Page -->
<h1>Shop</h1>
<div class="list-box">
  <div class="shop-item">
    <span>Exchange (100 Gems per 500 coins)</span>
    <button class="buy-button" onclick="location.href='/mainGame/{{id}}/shop/Exchange'">Exchange</button>
  </div>
  <div class="shop-item">
    <span>Exclusive Sword (300 coins)</span>
    <button class="buy-button" onclick="location.href='/mainGame/{{id}}/shop/Exclusive Sword'">Buy</button>
  </div>
    <p style="color: red;">{% if warnfail %}
        {{warnfail}}
    {% endif %}</p>
    <p style="color: rgb(128, 168, 68);">{% if warnsuc %}
        {{warnsuc}}
    {% endif %}</p>
</div>

{% endblock %}